$blue : #009ADA;
$dark-blue:#031E49;
$white: #ffffff;
$black: #000000;
$secondary-font:  Arial, Helvetica, sans-serif;
$primary-font: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

html {
  background: $black;
  scroll-behavior: smooth;
}

body {
  font-family: $primary-font;
}
*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 15px;
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  background: $white;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: $blue;
  border-radius: 10px;
}


// styles of Home page

#video-container {
  width: 100%;
  background: #000;
}
#showcase-video {
  width: 100%;
  height:56%;
  position: relative;
  left: 0%;
  top: 0%;
  opacity: 0.3;
}

#developer-info {
  position: sticky;
  bottom: 65vh;
  background-color: $blue;
  width: fit-content;
  border-radius: 5px;
  padding: 5px;
  color: $white;
  z-index: 3;
  cursor: pointer;
  opacity: 0.15;
  transition: all 1s;
  h4{
    text-align: center;
    transition: all 1s;
  }
  p{
    display: none;
  }
  &:hover{
    opacity: 1;
    h4 {
      margin-bottom: 10px;
    }
    p{
      display: block;
    }
  }
}

#navbar {
  font-family: $secondary-font;
  position: absolute;
  width: 90%;
  top: 10px;
  left: 5%;
  display: flex;
  justify-content: space-between;
  ul {
    transition: all 1s;
    display: flex;
    flex-direction: row;
    list-style: none;
    li {
      width: fit-content !important;
      margin:20px 10px ;
      transition: all 0.3s linear;
      a {
        text-decoration: none;
        color: $white;
      }
      &:hover{
        border-bottom: 3px $blue solid;
        opacity: 0.5;
      }
    }
  }
}
  #navbar ul .selected-page {
    border-bottom: 3px $blue solid;
    border-radius: 4px;
    a {
      color: $blue;
    }
  }
  .navbar-typeB{
    padding:20px 0px;
    border-bottom: #333 solid 1px;
  }

#menu {
  width: 40px;
  height: 40px;
  position:fixed;
  top:5px;
  left: 17px;
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  cursor: pointer;
  padding: 5px;
  z-index: 2;
  hr{
    height: 3px;
    width: 80%;
    border: none;
    background: $blue;
    margin: auto;
  }
}
#showcase {
  position: absolute;
  width: 100%;
  color: $white;
  font-family: $primary-font;
  text-align: center;
  top : 20vw;
  font-size: 2rem;
  line-height: 3rem;
  h2 #span1 {
    color: $blue;
    #span2{
    display: inline-block;
    top: -10px;
    left: 20px;
      #hrs{
        position: relative;
        top: -27px;
      }
    }
  }
  h2 #span1 #span2 #hrs{
    display: flex;
    flex-direction: column;
    color: $blue;
    hr{
      background: $blue;
      border: none;
      border-radius: 1px;
      width: 170%;
      height: 5px;
      margin: 4.35px;
      display: inline-block;
    }
  }  
  h4{
    font-size: 1.5rem;
    text-shadow: $blue 0px 0px 0px ;
    animation: slogan-shadow 1s infinite linear;
  }
}

@keyframes slogan-shadow {
50% {
  text-shadow: $blue 0px 0px 16px;
}
}




#bmw-buildings {
  color: $white;
  font-family: $primary-font;
  h3{
    text-align: center;
    font-size: 1.5rem;
    margin: 20px 0px;
    span {
      color: $blue;
    }
  }
  #buildings {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 0.9rem;
    line-height: 1.1rem;
    p {
      margin: 5px;
    }
    
    .building {
      padding: 5px;
      overflow: hidden;
      cursor: pointer;
      transform: scale(1);
      &:hover{
        img {
          transform: scale(1.3);
        }
        .img-info {
          opacity: 1;
          bottom: 0;
        }
      }
      img{
        width: 100%;
        transition: all 1s;
      }

      .img-info {
        position: absolute;
        bottom: -50px;
        padding: 5px;
        opacity: 0;
        transition: all 1s ;
        background: linear-gradient(to bottom , transparent , #000  );
        a {
          text-decoration: none;
          padding: 3px 8px;
          border-radius: 3px;
          box-shadow: $white 1px 1px 2px;
          color: $white;
          background-color: $blue;
          float: right;
          margin:0px  30px 20px 0px;

        }
      }
    }
  }
}

#bmw-breakdown {
  color: $white;
  margin: 20px 5% ;
  width: 90%;
  h2 {
    text-align: center;
    margin-bottom: 50px;
    span{
      color: $blue;
    }
  }

  #models {
    display: flex;
    justify-content: space-evenly;
    
    .model{
      
      
      #count {
        border: 1.5vw $white solid;
        border-radius: 50%;
        padding: 0.5vw;
        width:10vw ;
        height:10vw;
        display: flex;
        align-items: center;
        transition: all 1s;
        font-size: 1.5vw;
        p{
          text-align: center;
          width: 100%;

        }
      }
      h3{
        text-align: center;
        margin: 10px auto;
      }
      &:hover {
        h3 {
          color: $blue;
        }
        #count {
          width: 12vw;
          height: 12vw;
          color: $blue; 
          border-color: $blue;
        }
      }
    }
  }
}

#productpage-container , #aboutpage-container, footer {
  color: $white;
  width: 90%;
  margin: auto;
  height: 50px ;
  border-top: #333 solid 1px;
  #sidebar , #footer-content {
    display: flex;
    justify-content: space-evenly;

    #bmw-websites{
      flex: 2;
      padding: 30px;
      max-width: 500px;
      h3 {
        
        left: 5vw;
        width: 100%;
        margin: 10px 0px;
        border-bottom: 1px solid #333;
        span {
          color: $blue;
        }
      }
      #websites-list {
        display: flex;
        justify-content: space-between;
        width: 100%;
        ul {
          list-style: none;
          li {
            margin: 5px 0px; 
            a{
              color: $blue;
              text-decoration: none;
              &:hover {
                color: $white;
              }
            }
          }
        }
      }
    }

    #social-medias  {
      max-width: 400px;
      padding: 30px;
      flex: 1;
      h3{
        width: 70%;
        margin: 10px 0px;
        border-bottom: 1px solid #333;
      }
      ul {
        
        li{
          list-style: none;
          margin: 10px 0px;

          a{
            text-decoration: none;
            color: $blue;
            &:hover {
              color: $white;
            }
          }
        }
      }
    }
  }

  > p {
    width: 100%;
    text-align: center;
    padding: 20px;
  }
  #developer {
    span {
      color: $blue;
    }    
  }
}

// styles of About page


#aboutpage-header , #productpage-header {
  
  #navbar {
  position: relative;
  }
}

#aboutpage-container , #productpage-container{
  position: relative;
  top: 20px;
  width: 90%;
  margin: auto;
  border-top: none;
  display: grid;
  grid-gap: 5vw;
  grid-template-columns: 3fr 1fr;

  #article  , #products{
    h2{
      // position: absolute;
      top: 0%;
      width: 67.5%;
      margin: auto;
      font-size:4vw;
      text-align: center;
      span{
        color: $blue;
      }
    }

     >img{
      display: block;
      position: relative;
      top: -5vw;
      width: 70%;
      opacity: 0.8;
      margin: auto;
      z-index: -1;
      box-shadow: inset 0 0 10px $blue;
    }

    h3{
      font-size: 3vw;
      padding: 5px 0px 0px 0px;
      border-bottom: #333 solid 1px;
      margin-bottom: 15px;
      span {
        color: $blue;
        border-bottom: $blue 1px dotted;
      }
    }
    p{
      font-size: 1.2rem;
      line-height: 24px;
      margin-bottom: 30px;
      img{
        width: 15vw;
        display: block;
        margin: 30px auto;
        position: relative;
      }
    }
  }

 #sidebar {
    display: block;
    margin-top: 30px;
    border-left: 1px #333 dotted;
    
    #bmw-websites {
      padding-right: 0;
      #websites-list {
        display: block;
        ul li {
          margin-bottom: 10px;
        }
      }
    }
    #social-medias{
      padding-right: 0;
    }
  }
}


.article {
  transition: all 1s;
  transform: scale(0);
}

#aboutpage-footer {
  position: relative;
  bottom: 0;
}

// Product page styles

.product-img-bg {
  display: flex;
  align-items: center;
  width: 20vw;
  height: 20vw;
  max-width: 250px ;
  max-height: 250px ;
  // min-width: ;
  background: radial-gradient(rgba(0, 154, 218, 0.4) , transparent 80%);
  border-radius: 50%;
  box-shadow: inset 0px 0px 5vw $black;
  img {
    width: 100%;
    display: block;
    margin: auto;
  }  
}

@keyframes product-bg {
  to{
    transform: rotate(360deg);
  }
}
@keyframes product {
  to {
    transform: rotate(-360deg);
  }
}

#products {
  .product {
    display: flex;
    flex-wrap: wrap-reverse;
    border-bottom: 1px $blue solid;
    transition: all 1s;
    padding: 2vw 0;

    .product-info {
      width: 50%;
      position: relative;
      top: 2vw;
      left: -50vw;
      opacity: 0;
      transition: all 1s;
      p {
        font-size: 1rem !important;
      }
      h3{        
        span{
          border-bottom: none;
        }
      }
    }
    
    &:hover{
      .product-info{
        opacity: 1;
        left: 5vw;

      }
    }
    &:last-child {
      border-bottom: none;
    }
    &:hover .product-img-bg{
      transition: border 0.5s;
      border: 10px solid;
      border-color:$white $dark-blue;
      animation: product-bg 4s infinite linear;
      img{
        animation: product 4s infinite linear;
      }
    }
  }
}

#go-up {
  transition: all 1s;
  width: fit-content;
  height: fit-content;
  padding: 22px 10px ;
  background: $blue;
  z-index: 5;
  cursor: pointer;
  position: fixed;
  left: 4vw;
  bottom: 10vh ;
  border-radius: 50%;
  font-weight: bold;
  color: $black;
  transform: scale(0);
}

  @media (min-width: 651px){
    .product-img-bg{
      margin:auto;
    }
  }


  // Contact Page styles

  #contactpage-header #navbar {
    justify-content: center;
  }

  #contactpage-container {
    position: relative;
    top: 130px;
    width: 70vw;
    height: 70vw;
    margin: auto;
    color: $white;
    &::before{
      position: absolute;
      width: 50vw;
      height: 50vw;
      left: 10vw;
      content: "";
      background: url('../img/logo-light.svg') no-repeat center center / cover ;
      opacity: 0.2;
      z-index: -1;
    }

    form {
      width: 100%;
      height: 50%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 5fr;
      grid-row-gap: 1vw;
      grid-column-gap: 4vw;

      input {
        height: 2.5rem;
        background-color: $dark-blue;
        border: none;
        border-radius: 0.5rem;
        padding: 5px;
        box-shadow: $blue 0px 0px 6px;
        color: $white;
        font-family: $primary-font;
      }
      #favorite-car {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 5px;
        label {
          font-size: 1.2rem;
          font-weight: bold;
          text-shadow: $blue 0px 0px 4px;
        }
        input {
          position: relative;
          top: -10px;
        }
        #cars-list {
          position: absolute;
          top: 90%;
          width: calc( 100% - 10px);
          background: $dark-blue;
          border-radius: 0.5rem;
          color: $white;
          max-height: 190px;
          overflow: hidden;
          box-shadow: $blue 0px 0px 6px;
          z-index: 1;
          ul {
            list-style:none ;
            li{
              border-bottom: 1px solid rgb(123, 120, 120);
              padding:10px 0px 5px 0px;
              &:first-child{
                padding-top: 0;
              }
              &:last-child{
                border-bottom: none;
              }
              a{
                text-decoration: none;
                color: $white;
            
              }
            }
          }
        }
      }
      #driving-license{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 5px;
        label {
          font-size: 1.2rem;
          font-weight: bold;
          text-shadow: $blue 0px 0px 4px;
        }
        input{
          margin-bottom: 10px;
          box-shadow:none;
        }
        #options{ 
          position: relative;
          top: -15px;
          label {
          position: relative;
          top: -15px;
          }
        }
      }

      #message{
        width: 100%;
        margin: 10px auto;
        grid-column: 1 / span 2;
        background-color: $dark-blue;
        border: none;
        border-radius: 0.5rem;
        padding: 10px 20px;
        box-shadow: $blue 0px 0px 6px;
        color: $white;
        font-family: $primary-font;
        font-size: 1.3rem;
        min-height: 200px;

      }
    }
  }
  ::placeholder{
    color: $white;
    font-family: $primary-font;
    opacity: 0.8;
  }

  label[for="car"] , input[id= "car"]{
    width: 100%;
  }

  button {
    display: block;
    width: 80%;
    background: $dark-blue;
    height: 2.5rem;
    border-radius: 0.5rem;
    border: none;
    box-shadow: $blue 0px 0px 6px;
    margin: 30px auto;
    color: $white;
    font-size: 1.5rem;
    font-family: $primary-font;
    cursor: pointer;
    grid-column: 1/span 2;
  }

  @media (max-width:980px) and (min-width:850px){
    #contactpage-container {
      width: 80vw;
      height: 80vw;
      form{
        grid-row-gap: 2vw;
      }
      &::before{
        left: 15vw;
      }
    }
  }
  @media (max-width:849px) and (min-width:750px){
    #contactpage-container {
      width: 90vw;
      height: 90vw;
      form{
        grid-row-gap: 3vw;
      }
      &::before{
        left: 20vw;
      }
    }
  }
  @media (max-width:749px) {
    #contactpage-container {
      form{
        display: flex;
        flex-direction: column;
        input{
          margin-bottom: 10px;
        }
        button{
          width: 100%;
        }
      }
    }
  }

  @media (max-width:460px) {

    #contactpage-container{
      min-width: 85vw;
      &::before {
        left: 17vw;
      }
    }
    form label {
      font-size: 0.9rem !important;
    }
    textarea::placeholder , button {
      font-size: 1rem;
    }

    #navbar ul li{
      margin: 10px;
      font-size: 0.8rem;
    }
  }